[user]
	email = bubkoo.wy@gmail.com
	name = bubkoo
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	excludesfile = /Users/bubkoo/.gitignore
